<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login page</title>
</head>
<body>
<h1 style="font-style: sans-serif; font-size:bold; text-align:center;">Login</h1>
<div style="font-style: sans-serif; font-size:bold; text-align:center;">
    <form method="POST" action="/login">
        <label for="email">email</label>
        <input id="email" type="email" name="emailId" placeholder="enter email"><br>
        <label for="password">password</label>
        <input id="password" type="password" name="password" placeholder="Enter password"><br>
        <button type="submit">Login</button>
    </form>
</div>
</body>
</html>