<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Signup page</title>
</head>

<body>
<h1 style="font-style: sans-serif; font-size:bold; text-align:center;">Signup</h1>
<div style="font-style: sans-serif; font-size:bold; text-align:center;">
    <form method="POST" action="/signup">
        <label for="email">email</label>
        <input type="email" name="emailId" placeholder="enter email"><br>
        <label for="password">password</label>
        <input type="password" name="password" placeholder="Enter password"><br>
        <button type="submit">Signup</button>
    </form>
</div>


</body>

</html>